In [1]:
import pandas as pd

In [17]:
df_districts = pd.read_csv('foo-page-2-table-1.csv')
# incase HR extraction not correct rename the table name and use this
# df_districts = pd.read_csv('../INPUT/{}/{}/foo-page-2-table-1_editTable.csv'.format(date,StateCode))
# print('HR districts data:',df_districts)

df_districts.columns = df_districts.columns.str.replace("\n","")

# print(df_districts.columns)
# df_districts["Name of District"] = df_districts['Sr No'] + df_districts['Name of District']

# # df_tests = pd.read_csv('../INPUT/{}/{}/foo-page-1-table-1.csv'.format(date,StateCode),names = ["Details","Numbers"])  

# col_dict = {"Name of District":"District","Cumulative Positive Cases":"Confirmed","Cumulative     Recovered/ Discharged Cases":"Recovered","No. of Deaths":"Deceased"}
# df_districts.rename(columns=col_dict,inplace=True)
# # df_districts.drop(columns=['Sr No','Positive Cases Today','Recovery Rate (%)','No of Active Cases','COVID-19, Vaccination Status  (NHM, Haryana)'],inplace=True)
# # print(df_districts)
# # a=b

In [24]:
df_districts

,Sr No,Name of District,Positive Cases Today,No of Active Cases,Cumulative Positive Cases,Cumulative Recovered/ Discharged Cases,Recovery Rate (%),No. of Deaths,"COVID-19, Vaccination Status (NHM, Haryana)*",Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,nan,nan,NaN,Coverage of Vaccination \non 04-07-2022,NaN,NaN,Cumulative Coverage of \nVaccination
1,NaN,NaN,NaN,NaN,NaN,nan,nan,NaN,Dose 1st,Dose 2nd,Precaution \nDose,NaN
2,1 Gurugram,NaN,141.0,914.0,283611.0,281689,99.32,1008,211,632,3842,5469327
3,2,Faridabad,35.0,373.0,132006.0,130892,99.16,741,89,178,836,4093035
4,3 Hisar,NaN,18.0,60.0,62467.0,61232,98.02,1175,221,431,154,2367171
5,4,Sonipat,12.0,44.0,58923.0,58603,99.46,276,68,347,288,2307429
6,5,Karnal,13.0,102.0,48541.0,47843,98.56,596,47,170,234,2406083
7,6,Panchkula,29.0,153.0,45237.0,44669,98.74,415,33,123,564,1142371
8,7,Ambala,37.0,140.0,41101.0,40419,98.34,542,65,193,934,2159076
9,8,Panipat,15.0,47.0,36232.0,35512,98.01,673,58,162,374,2074474
10,9,Sirsa,12.0,42.0,33547.0,32966,98.27,539,41,214,129,1949809
11,10 Rohtak,NaN,9.0,65.0,32243.0,31624,98.08,537,37,920,695,1745333
12,NaN,11 Yamunanagar,4.0,22.0,30775.0,30298,98.45,455,38,412,397,1981380
13,12 Kurukshetra,NaN,13.0,43.0,27010.0,26568,98.36,399[1],41,298,437,1573026
14,13 Bhiwani,NaN,8.0,18.0,26626.0,25943,97.43,665,23,1080,436,1812114
15,NaN,14 Mahendragarh,0.0,7.0,24784.0,24612,99.31,165,60,228,402,1404709
16,15 Rewari,NaN,3.0,3.0,24717.0,24490,99.08,224,23,137,585,1590888
17,16,Jind,7.0,35.0,24497.0,23920,97.64,542,34,401,216,1737260
18,17,Jhajjar,5.0,15.0,23606.0,23235,98.43,350,84,373,468,1597150
19,18 Fatehabad,NaN,5.0,17.0,20121.0,19606,97.44,498,17,58,81,1196915
20,19 Kaithal,NaN,1.0,58.0,14384.0,13955,97.02,371,39,416,762,1795619
21,20 Palwal,NaN,2.0,8.0,13533.0,13355,98.68,170,34,124,83,1545868
22,NaN,21 Charkhi Dadri,2.0,4.0,7487.0,7338,98.01,145,6,85,661,913539
23,22 Nuh,NaN,0.0,0.0,6132.0,5993,97.73,139,1,5,70,1223327
24,Haryana,NaN,371.0,2170.0,1017580.0,1004762,98.74,10625[1],1270,6987,12648,44085903

In [19]:
df_districts['Cumulative     Recovered/ Discharged Cases'] = df_districts['Cumulative     Recovered/ Discharged Cases'].astype(str) + '['
df_districts['Recovery Rate (%)'] = df_districts['Recovery Rate (%)'].astype(str)

In [21]:
df_districts['Cumulative     Recovered/ Discharged Cases'] = df_districts[['Cumulative     Recovered/ Discharged Cases','Recovery Rate (%)']].fillna(' ').sum(axis=1)

In [23]:
print(df_districts[['Cumulative     Recovered/ Discharged Cases','Recovery Rate (%)']])
print(df_districts['Cumulative     Recovered/ Discharged Cases'])
print(df_districts.dtypes)
df_districts["Cumulative     Recovered/ Discharged Cases"] = df_districts["Cumulative     Recovered/ Discharged Cases"].str.split('[').str[0]

   Cumulative     Recovered/ Discharged Cases Recovery Rate (%)
0                                     nan[nan               nan
1                                     nan[nan               nan
2                           281689[359][99.32             99.32
3                            130892[88][99.16             99.16
4                             61232[18][98.02             98.02
5                             58603[15][99.46             99.46
6                             47843[17][98.56             98.56
7                             44669[54][98.74             98.74
8                             40419[15][98.34             98.34
9                             35512[13][98.01             98.01
10                             32966[6][98.27             98.27
11                            31624[14][98.08             98.08
12                             30298[8][98.45             98.45
13                            26568[14][98.36             98.36
14                             25943[4][97.43             97.43
15                            24612[10][99.31             99.31
16                             24490[3][99.08             99.08
17                                23920[97.64             97.64
18                             23235[1][98.43             98.43
19                             19606[1][97.44             97.44
20                             13955[8][97.02             97.02
21                             13355[2][98.68             98.68
22                                 7338[98.01             98.01
23                              5993[2][97.73             97.73
24                         1004762[652][98.74             98.74
0                nan[nan
1                nan[nan
2      281689[359][99.32
3       130892[88][99.16
4        61232[18][98.02
5        58603[15][99.46
6        47843[17][98.56
7        44669[54][98.74
8        40419[15][98.34
9        35512[13][98.01
10        32966[6][98.27
11       31624[14][98.08
12        30298[8][98.45
13       26568[14][98.36
14        25943[4][97.43
15       24612[10][99.31
16        24490[3][99.08
17           23920[97.64
18        23235[1][98.43
19        19606[1][97.44
20        13955[8][97.02
21        13355[2][98.68
22            7338[98.01
23         5993[2][97.73
24    1004762[652][98.74
Name: Cumulative     Recovered/ Discharged Cases, dtype: object
Sr No                                             object
Name of District                                  object
Positive Cases Today                             float64
No of Active Cases                               float64
Cumulative Positive Cases                        float64
Cumulative     Recovered/ Discharged Cases        object
Recovery Rate (%)                                 object
No. of Deaths                                     object
COVID-19, Vaccination Status  (NHM, Haryana)*     object
Unnamed: 9                                        object
Unnamed: 10                                       object
Unnamed: 11                                       object
dtype: object