In [468]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request
from StatusMsg import StatusMsg
import json
import os
import io
import datetime

In [469]:
def india(state):
    # URL = "https://www.mygov.in/corona-data/covid19-statewise-status/"
    # file_name, headers = urllib.request.urlretrieve(URL)
    soup = BeautifulSoup(open("../INPUT/2021-11-02/TT_State.html", encoding="utf8"), "html.parser")

    # sum_URL = "https://www.mygov.in/covid-19"
    # sum_file_name, sum_headers = urllib.request.urlretrieve(sum_URL)
    sum_soup = BeautifulSoup(open("../INPUT/2021-11-02/TT_Summary.html", encoding="utf8"), "html.parser")

    STATES = soup.find_all("div", {"class": "field field-name-field-select-state field-type-list-text field-label-above"})
    CONFIRMED = soup.find_all("div", {"class": "field field-name-field-total-confirmed-indians field-type-number-integer field-label-above"})
    CURED_DISCHARGED = soup.find_all("div", {"class": "field field-name-field-cured field-type-number-integer field-label-above"})
    DEATH = soup.find_all("div", {"class": "field field-name-field-deaths field-type-number-integer field-label-above"})

    states = []
    for val in STATES:
        states.append(str(val.getText()).split(":")[1].lstrip().replace("Telengana", "Telangana").replace('Andaman And Nicobar', 'Andaman and Nicobar Islands').replace('Andaman and Nicobar','Andaman and Nicobar Islands'))

    confirmed = []
    for val in CONFIRMED:
        confirmed.append(str(val.getText()).split(":")[1].lstrip())

    cured = []
    for val in CURED_DISCHARGED:
        cured.append(str(val.getText()).split(":")[1].lstrip())

    death = []
    for val in DEATH:
        death.append(str(val.getText()).split(":")[1].lstrip())

    states_data = pd.DataFrame(list(zip(states, confirmed, cured, death)))

    final_df_col = [
        'Date', 'State/UTCode', 'District', 'tested_last_updated_district', 'tested_source_district',
        'notesForDistrict', 'cumulativeConfirmedNumberForDistrict', 'cumulativeDeceasedNumberForDistrict',
        'cumulativeRecoveredNumberForDistrict', 'cumulativeTestedNumberForDistrict',
        'cumulativeVaccinatedNumberForDistrict', 'last_updated', 'tested_last_updated_state', 'tested_source_state',
        'notesForState', 'cumulativeConfirmedNumberForState', 'cumulativeDeceasedNumberForState',
        'cumulativeRecoveredNumberForState', 'cumulativeTestedNumberForState', 'cumulativeVaccinatedNumberForState'
    ]

    states_data = states_data.rename(
        columns={0: "District", 1: "cumulativeConfirmedNumberForDistrict", 2: "cumulativeRecoveredNumberForDistrict",
                 3: "cumulativeDeceasedNumberForDistrict"})

    states_data["Date"] = str(datetime.datetime.now().date())

    states_data["State/UTCode"] = state

    states_data['cumulativeConfirmedNumberForState'] = int(
        sum_soup.findAll("div", {"class": "t_case"})[0].findAll("span", {"class": "icount"})[0].getText().replace(
            ",", ""))

    states_data['cumulativeDeceasedNumberForState'] = int(
        sum_soup.findAll("div", {"class": "death_case"})[0].findAll("span", {"class": "icount"})[0].getText().replace(
            ",", ""))

    states_data['cumulativeRecoveredNumberForState'] = int(
        sum_soup.findAll("div", {"class": "discharge"})[0].findAll("span", {"class": "icount"})[0].getText().replace(
            ",", ""))

    states_data["last_updated"] = str(datetime.datetime.now())

    states_data['cumulativeTestedNumberForState'] = int(
        sum_soup.findAll("div", {"class": "testing_result"})[0].findAll("strong")[0].getText().replace(",", ""))
    
    
    states_data['tested_last_updated_state'] = sum_soup.findAll(
        "div", {"class": "test_title"})[0].getText().strip().split("up to ")[-1]
    
    states_data['deltaTestedForState'] = int(
        sum_soup.findAll("div", {"class": "testing_sample"})[0].findAll("strong")[0].getText().replace(",", ""))
    
    for vcount in sum_soup.findAll("div", {"class": "total-vcount"}):
        if 'yday' not in vcount.attrs['class']:
            states_data['cumulativeVaccinatedNumberForState'] = int(vcount.findAll("strong")[0].getText().replace(",", ""))

    # states_data = states_data.reindex(columns=final_df_col)
    return states_data

In [470]:
TT_df = india("TT")

In [471]:
# TT_df = pd.read_csv("../RAWCSV/2021-10-31/TT_raw.csv")

In [472]:
TT_df = TT_df.dropna(1)

In [473]:
import urllib.request, json 
with urllib.request.urlopen("https://api.cowin.gov.in/api/v1/reports/v2/getPublicReports?date=2021-11-02") as url:
    data = json.loads(url.read().decode())

In [474]:
TT_df["cumulativeVaccinated1NumberForState"] = data["topBlock"]["vaccination"]["tot_dose_1"]
TT_df["cumulativeVaccinated2NumberForState"] = data["topBlock"]["vaccination"]["tot_dose_2"]
TT_df["cumulativeVaccinatedNumberForState"] = data["topBlock"]["vaccination"]["total_doses"]

In [475]:
states = []
vaccinated = []
vaccinated1 = []
vaccinated2 = []
for sta in data['getBeneficiariesGroupBy']:
    if (sta['title'].lower() == "dadra and nagar haveli") or (sta['title'].lower() == "daman and diu"):
        states.append('Dadra and Nagar Haveli and Daman and Diu')
    else:
        states.append(sta['title'])
    vaccinated.append(sta['total'])
    vaccinated1.append(sta['partial_vaccinated'])
    vaccinated2.append(sta['totally_vaccinated'])

In [476]:
VAC_df = pd.DataFrame(list(zip(states,vaccinated,vaccinated1,vaccinated2))).groupby(0, as_index=False).sum()

In [477]:
VAC_df = VAC_df.rename(columns={0:"District",1:"cumulativeVaccinatedNumberForDistrict",2:"cumulativeVaccinated1NumberForDistrict",3:"cumulativeVaccinated2NumberForDistrict",})

In [478]:
TT_df = TT_df.merge(VAC_df,how="left",on="District")

In [479]:
TT_df["tested_source_state"] = "https://www.icmr.gov.in/"

In [480]:
# TT_df.to_csv("TT_test.csv")

In [481]:
TT_df["tested_last_updated_state"] = str(datetime.datetime.strptime(TT_df["tested_last_updated_state"][0] , '%b %d, %Y'))

# Generate TT_final

In [508]:
cs = pd.read_csv("case_time_series.csv")

In [233]:
cs.columns

Index(['Date', 'Date_YMD', 'Daily Confirmed', 'Total Confirmed',
       'Daily Recovered', 'Total Recovered', 'Daily Deceased',
       'Total Deceased'],
      dtype='object')

In [234]:
cs.tail()

,Date,Date_YMD,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
636,27 October 2021,2021-10-27,16351,34231030,17077,33606620,734,455828
637,28 October 2021,2021-10-28,14307,34245337,13189,33619809,805,456633
638,29 October 2021,2021-10-29,14215,34259552,13549,33633358,551,457184
639,30 October 2021,2021-10-30,12940,34272492,14672,33648030,445,457629
640,31 October 2021,2021-10-31,12907,34285399,13152,33661182,251,457880

In [482]:
import timedelta
delta_date = str((datetime.datetime.now() - timedelta.Timedelta(days=1)).date())

In [427]:
delta_date

'2021-11-01'

In [240]:
ind = cs[cs['Date_YMD']==delta_date].index[0]

# Reading from Raw

In [505]:
cs = pd.read_csv("../RAWCSV/"+delta_date+"/TT_raw.csv")

In [484]:
cs.columns

Index(['Unnamed: 0', 'Date', 'State/UTCode', 'District',
       'tested_last_updated_district', 'tested_source_district',
       'notesForDistrict', 'cumulativeConfirmedNumberForDistrict',
       'cumulativeDeceasedNumberForDistrict',
       'cumulativeRecoveredNumberForDistrict',
       'cumulativeTestedNumberForDistrict',
       'cumulativeVaccinatedNumberForDistrict', 'last_updated',
       'tested_last_updated_state', 'tested_source_state', 'notesForState',
       'cumulativeConfirmedNumberForState', 'cumulativeDeceasedNumberForState',
       'cumulativeRecoveredNumberForState', 'cumulativeTestedNumberForState',
       'cumulativeVaccinatedNumberForState'],
      dtype='object')

In [485]:
cs["cumulativeConfirmedNumberForState"][0]

34285814

In [486]:
# TT_df["deltaConfirmedForState"] = TT_df["cumulativeConfirmedNumberForState"] - cs["Total Confirmed"][ind]
# TT_df["deltaDeceasedForState"] = TT_df["cumulativeDeceasedNumberForState"] - cs["Total Deceased"][ind]
# TT_df["deltaRecoveredForState"] = TT_df["cumulativeRecoveredNumberForState"] - cs["Total Recovered"][ind]
TT_df["deltaConfirmedForState"] = TT_df["cumulativeConfirmedNumberForState"] - cs["cumulativeConfirmedNumberForState"][0]
TT_df["deltaDeceasedForState"] = TT_df["cumulativeDeceasedNumberForState"] - cs["cumulativeDeceasedNumberForState"][0]
TT_df["deltaRecoveredForState"] = TT_df["cumulativeRecoveredNumberForState"] - cs["cumulativeRecoveredNumberForState"][0]
TT_df["deltaTestedForState"] = TT_df["cumulativeTestedNumberForState"] - cs["cumulativeTestedNumberForState"][0]

In [487]:
import urllib.request, json 
with urllib.request.urlopen("https://api.cowin.gov.in/api/v1/reports/v2/getPublicReports?date="+delta_date) as url:
    data = json.loads(url.read().decode())

In [488]:
# TT_df["cumulativeVaccinated1NumberForState"] = data["topBlock"]["vaccination"]["tot_dose_1"]
# TT_df["cumulativeVaccinated2NumberForState"] = data["topBlock"]["vaccination"]["tot_dose_2"]
# TT_df["cumulativeVaccinatedNumberForState"] = data["topBlock"]["vaccination"]["total_doses"]

In [489]:
TT_df["deltaVaccinated2ForState"] = TT_df["cumulativeVaccinated2NumberForState"] - data["topBlock"]["vaccination"]["tot_dose_2"]
TT_df["deltaVaccinated1ForState"] = TT_df["cumulativeVaccinated1NumberForState"] - data["topBlock"]["vaccination"]["tot_dose_1"]
TT_df["deltaVaccinatedForState"] = TT_df["cumulativeVaccinatedNumberForState"] - data["topBlock"]["vaccination"]["total_doses"]

In [490]:
states = []
vaccinated = []
vaccinated1 = []
vaccinated2 = []
for sta in data['getBeneficiariesGroupBy']:
    if (sta['title'].lower() == "dadra and nagar haveli") or (sta['title'].lower() == "daman and diu"):
        states.append('Dadra and Nagar Haveli and Daman and Diu')
    else:
        states.append(sta['title'])
    vaccinated.append(sta['total'])
    vaccinated1.append(sta['partial_vaccinated'])
    vaccinated2.append(sta['totally_vaccinated'])

In [491]:
prevdayVACC_df = pd.DataFrame(list(zip(states,vaccinated,vaccinated1,vaccinated2))).groupby(0, as_index=False).sum()

In [492]:
prevdayVACC_df = prevdayVACC_df.rename(columns={0:"District",1:"cumulativeVaccinatedNumberForDistrict",2:"cumulativeVaccinated1NumberForDistrict",3:"cumulativeVaccinated2NumberForDistrict",})

In [493]:
# TT_df.to_csv("in_test.csv")

In [494]:
lst = ["Vaccinated1","Vaccinated2","Vaccinated"]
for val in lst:
    TT_df["delta{}ForDistrict".format(val)] = None
    for idx in TT_df.index:
        TT_df["delta{}ForDistrict".format(val)][idx] = TT_df["cumulative{}NumberForDistrict".format(val)][idx] - prevdayVACC_df[prevdayVACC_df["District"] == TT_df["District"][idx]]["cumulative{}NumberForDistrict".format(val)].item()

/home/swiadmin/Incovid19/incovid19/env/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [504]:
states_df = pd.read_csv("states.csv")

In [335]:
states_df

,Date,State,Confirmed,Recovered,Deceased,Other,Tested
0,2020-01-30,Kerala,1,0,0,0,NaN
1,2020-01-30,India,1,0,0,0,NaN
2,2020-02-02,Kerala,2,0,0,0,NaN
3,2020-02-02,India,2,0,0,0,NaN
4,2020-02-03,Kerala,3,0,0,0,NaN
...,...,...,...,...,...,...,...
21670,2021-10-31,Tripura,84468,83466,813,63,1983127.0
21671,2021-10-31,India,34285612,33661339,458470,13197,609201294.0
21672,2021-10-31,Uttar Pradesh,1710158,1687151,22900,0,83635222.0
21673,2021-10-31,Uttarakhand,343896,330195,7400,6150,7781148.0
21674,2021-10-31,West Bengal,1592908,1565471,19141,0,19228303.0

# No reading states

In [495]:
states_df = cs[["Date","District","cumulativeConfirmedNumberForDistrict","cumulativeRecoveredNumberForDistrict","cumulativeDeceasedNumberForDistrict"]]

In [496]:
states_df

,Date,District,cumulativeConfirmedNumberForDistrict,cumulativeRecoveredNumberForDistrict,cumulativeDeceasedNumberForDistrict
0,2021-11-01,Andaman and Nicobar Islands,7651,7518,129
1,2021-11-01,Andhra Pradesh,2066450,2047722,14373
2,2021-11-01,Arunachal Pradesh,55155,54774,280
3,2021-11-01,Assam,610645,600974,5997
4,2021-11-01,Bihar,726098,716390,9661
5,2021-11-01,Chandigarh,65351,64495,820
6,2021-11-01,Chhattisgarh,1006052,992159,13577
7,2021-11-01,Dadra and Nagar Haveli and Daman and Diu,10682,10674,4
8,2021-11-01,Delhi,1439870,1414431,25091
9,2021-11-01,Goa,178108,174392,3364
10,2021-11-01,Gujarat,826577,816283,10089
11,2021-11-01,Haryana,771252,761068,10049
12,2021-11-01,Himachal Pradesh,224106,218410,3754
13,2021-11-01,Jammu and Kashmir,332249,326915,4432
14,2021-11-01,Jharkhand,348764,343518,5138
15,2021-11-01,Karnataka,2988333,2941578,38082
16,2021-11-01,Kerala,4968657,4857181,31681
17,2021-11-01,Ladakh,20962,20687,208
18,2021-11-01,Lakshadweep,10365,10314,51
19,2021-11-01,Maharashtra,6611078,6450585,140216
20,2021-11-01,Manipur,123731,121102,1921
21,2021-11-01,Meghalaya,83627,81746,1450
22,2021-11-01,Mizoram,121524,114612,433
23,2021-11-01,Madhya Pradesh,792854,782215,10524
24,2021-11-01,Nagaland,31842,30947,685
25,2021-11-01,Odisha,1041457,1028697,8333
26,2021-11-01,Puducherry,128013,125726,1857
27,2021-11-01,Punjab,602401,585591,16559
28,2021-11-01,Rajasthan,954429,945443,8954
29,2021-11-01,Sikkim,31979,31388,396
30,2021-11-01,Tamil Nadu,2702623,2655015,36116
31,2021-11-01,Telangana,671463,663498,3956
32,2021-11-01,Tripura,84504,83545,816
33,2021-11-01,Uttar Pradesh,1710158,1687151,22900
34,2021-11-01,Uttarakhand,343896,336345,7400
35,2021-11-01,West Bengal,1592908,1565471,19141

In [497]:
# deltaConfirmedForDistrict",
#                  "deltaDeceasedForDistrict",
#                  "deltaRecoveredForDistrict",
lst = ["Confirmed","Recovered","Deceased"]
for val in lst:
    TT_df["delta{}ForDistrict".format(val)] = None
    for idx in TT_df.index:
        TT_df["delta{}ForDistrict".format(val)][idx] = int(TT_df["cumulative{}NumberForDistrict".format(val)][idx]) - int(states_df[(states_df["District"] == TT_df["District"][idx]) & (states_df["Date"] == delta_date)]["cumulative{}NumberForDistrict".format(val)].item())

/home/swiadmin/Incovid19/incovid19/env/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [498]:
lst = ["Vaccinated1","Vaccinated2","Vaccinated"]
for val in lst:
    TT_df["delta{}ForDistrict".format(val)] = None
    for idx in TT_df.index:
        TT_df["delta{}ForDistrict".format(val)][idx] = TT_df["cumulative{}NumberForDistrict".format(val)][idx] - prevdayVACC_df[prevdayVACC_df["District"] == TT_df["District"][idx]]["cumulative{}NumberForDistrict".format(val)].item()

/home/swiadmin/Incovid19/incovid19/env/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [499]:
# TT_df 7dma Cummulative

In [507]:
cs.tail()

,Unnamed: 0,Date,State/UTCode,District,tested_last_updated_district,tested_source_district,notesForDistrict,cumulativeConfirmedNumberForDistrict,cumulativeDeceasedNumberForDistrict,cumulativeRecoveredNumberForDistrict,...,cumulativeVaccinatedNumberForDistrict,last_updated,tested_last_updated_state,tested_source_state,notesForState,cumulativeConfirmedNumberForState,cumulativeDeceasedNumberForState,cumulativeRecoveredNumberForState,cumulativeTestedNumberForState,cumulativeVaccinatedNumberForState
31,31,2021-11-01,TT,Telangana,NaN,NaN,NaN,671463,3956,663498,...,NaN,2021-11-01 17:56:03.957793,NaN,NaN,NaN,34285814,458437,33668560,609201294,1063124205
32,32,2021-11-01,TT,Tripura,NaN,NaN,NaN,84504,816,83545,...,NaN,2021-11-01 17:56:03.957793,NaN,NaN,NaN,34285814,458437,33668560,609201294,1063124205
33,33,2021-11-01,TT,Uttar Pradesh,NaN,NaN,NaN,1710158,22900,1687151,...,NaN,2021-11-01 17:56:03.957793,NaN,NaN,NaN,34285814,458437,33668560,609201294,1063124205
34,34,2021-11-01,TT,Uttarakhand,NaN,NaN,NaN,343896,7400,336345,...,NaN,2021-11-01 17:56:03.957793,NaN,NaN,NaN,34285814,458437,33668560,609201294,1063124205
35,35,2021-11-01,TT,West Bengal,NaN,NaN,NaN,1592908,19141,1565471,...,NaN,2021-11-01 17:56:03.957793,NaN,NaN,NaN,34285814,458437,33668560,609201294,1063124205

# Remenber to read CS and states

In [509]:
from datetime import datetime, timedelta
lst = ["Confirmed","Recovered","Deceased"]
for val in lst:
    value = 0
    for i in range(7):
        if i == 0:
            value = TT_df["cumulative{}NumberForState".format(val)]
        else:
            prev_date=datetime.strptime("2021-10-31","%Y-%m-%d")+timedelta(days=(-1*i))
            ind = cs[cs['Date_YMD']==str(prev_date.date())].index[0]
            value =+ cs["Total {}".format(val)][ind]
    TT_df["7Dma{}ForState".format(val)] = value/7

In [510]:
import urllib.request, json 
va1 = 0
va2 = 0
va = 0
for i in range(7):
    prev_date=datetime.strptime("2021-10-31","%Y-%m-%d")+timedelta(days=(-1*i))
    with urllib.request.urlopen("https://api.cowin.gov.in/api/v1/reports/v2/getPublicReports?date="+str(prev_date.date())) as url:
        data = json.loads(url.read().decode())
        va1 += data["topBlock"]["vaccination"]["tot_dose_1"]
        va2 += data["topBlock"]["vaccination"]["tot_dose_2"]
        va += data["topBlock"]["vaccination"]["total_doses"]

In [511]:
TT_df["7DmaVaccinated1ForState"] = va1
TT_df["7DmaVaccinated2ForState"] = va2
TT_df["7DmaVaccinatedForState"] = va

In [512]:
# 7dma District

In [513]:
lst = ["Confirmed","Recovered","Deceased"]
for val in lst:
    value = 0
    for idx in TT_df.index:
        for i in range(7):
            if i == 0:
                value = int(TT_df["cumulative{}NumberForDistrict".format(val)][0])
            else:
                prev_date=datetime.strptime("2021-10-31","%Y-%m-%d")+timedelta(days=(-1*i))
                value += int(states_df[(states_df["State"] == TT_df["District"][idx]) & (states_df["Date"] == str(prev_date.date()))]['{}'.format(val)].item())
    TT_df["7Dma{}ForDistrict".format(val)] = value/7

In [514]:
cowin = pd.read_csv("cowin_vaccine_data_statewise.csv")

In [515]:
va1 = 0
va2 = 0
va = 0
TT_df["7DmaVaccinatedForDistrict"] = 0
TT_df["7DmaVaccinated1ForDistrict"] = 0
TT_df["7DmaVaccinated2ForDistrict"] = 0
for idx in TT_df.index:
    for i in range(7):
        if i == 0:
            va = int(TT_df["cumulativeVaccinatedNumberForDistrict"][idx])
            va1 = int(TT_df["cumulativeVaccinated1NumberForDistrict"][idx])
            va2 = int(TT_df["cumulativeVaccinated2NumberForDistrict"][idx])
        else:
            prev_date=datetime.strptime("2021/10/31","%Y/%m/%d")+timedelta(days=(-1*i))
            va += int(cowin[(cowin["Updated On"] ==  prev_date.strftime('%d/%m/%Y')) & (cowin["State"] == TT_df["District"][idx])]["Total Doses Administered"].item())
            va1 += int(cowin[(cowin["Updated On"] ==  prev_date.strftime('%d/%m/%Y')) & (cowin["State"] == TT_df["District"][idx])]["First Dose Administered"].item())
            va2 += int(cowin[(cowin["Updated On"] ==  prev_date.strftime('%d/%m/%Y')) & (cowin["State"] == TT_df["District"][idx])]["Second Dose Administered"].item())
TT_df["7DmaVaccinatedForDistrict"][idx] = va/7
TT_df["7DmaVaccinated1ForDistrict"][idx] = va1/7
TT_df["7DmaVaccinated2ForDistrict"][idx] = va2/7

/home/swiadmin/Incovid19/incovid19/env/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/swiadmin/Incovid19/incovid19/env/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/swiadmin/Incovid19/incovid19/env/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [516]:
TT_df["7DmaTestedForState"] = None
TT_df["delta21_14confirmedForState"] = None

In [517]:
population = pd.read_csv("../CSV/StatePopulation.csv")

In [518]:
sources = pd.read_csv("../sources.csv")

In [519]:
population = population.merge(sources,how="left",left_on = "State", right_on = "StateCode")

In [520]:
population

,State,StatePop,StateName,StateCode,StateDataSourceType,myGov,StateDataURL,Twitter Handle,Twitter Search Term
0,AN,397000,Andaman and Nicobar Islands,AN,html,yes,https://www.mygov.in/covid-19,NaN,NaN
1,AP,52221000,Andhra Pradesh,AP,html,NaN,https://hmfw.ap.gov.in/covid_dashboard.aspx,NaN,NaN
2,AR,1504000,Arunachal Pradesh,AR,Image(Twitter),NaN,https://twitter.com/DirHealth_ArPr,DirHealth_ArPr,#ArunachalCoronaUpdate
3,AS,34293000,Assam,AS,html,yes,https://www.mygov.in/covid-19,NaN,NaN
4,BR,119520000,Bihar,BR,Image(Twitter),NaN,https://twitter.com/BiharHealthDept,BiharHealthDept,#COVIDー19 Updates Bihar
5,CH,1179000,Chandigarh,CH,html,yes,https://www.mygov.in/covid-19,NaN,NaN
6,CT,28724000,Chhattisgarh,CT,Image(Twitter),NaN,https://twitter.com/HealthCgGov,HealthCgGov,#ChhattisgarhFightsCorona
7,DL,19814000,Delhi,DL,html,yes,https://www.mygov.in/covid-19,NaN,NaN
8,DN,959000,Dadra and Nagar Haveli and Daman and Diu,DN,html,yes,https://www.mygov.in/covid-19,NaN,NaN
9,GA,1540000,Goa,GA,html,yes,https://www.mygov.in/covid-19,NaN,NaN
10,GJ,67936000,Gujarat,GJ,html,NaN,https://gujcovid19.gujarat.gov.in/,NaN,NaN
11,HP,7300000,Himachal Pradesh,HP,Image(Twitter),NaN,https://twitter.com/nhm_hp,nhm_hp,#7PMupdate
12,HR,28672000,Haryana,HR,pdf,NaN,http://nhmharyana.gov.in/page?id=208,NaN,NaN
13,JH,37403000,Jharkhand,JH,html,yes,NaN,NaN,NaN
14,JK,13203000,Jammu and Kashmir,JK,Image(Twitter),NaN,https://twitter.com/diprjk/status/145262092120...,diprjk,Media Bulletin
15,KA,65798000,Karnataka,KA,pdf,NaN,https://covid19.karnataka.gov.in/govt_bulletin/en,NaN,NaN
16,KL,35125000,Kerala,KL,html,NaN,https://dashboard.kerala.gov.in/covid/daily.php,NaN,NaN
17,LA,293000,Ladakh,LA,pdf,NaN,https://covid.ladakh.gov.in/Upload/getfileN/63...,NaN,NaN
18,LD,68000,Lakshadweep,LD,html,yes,https://www.mygov.in/covid-19,NaN,NaN
19,MH,122153000,Maharashtra,MH,json,NaN,https://www.covid19maharashtragov.in/mh-covid,NaN,NaN
20,ML,3224000,Meghalaya,ML,pdf,NaN,http://nhmmeghalaya.nic.in/,NaN,NaN
21,MN,3103000,Manipur,MN,Image(Twitter),NaN,https://twitter.com/imphalrob,health_manipur,Manipur updates
22,MP,82232000,Madhya Pradesh,MP,html,yes,https://www.mygov.in/covid-19,NaN,NaN
23,MZ,1192000,Mizoram,MZ,html,yes,https://health.mizoram.gov.in/category/news,NaN,NaN
24,NL,2150000,Nagaland,NL,pdf,NaN,https://covid19.nagaland.gov.in/daily-bulletins,NaN,NaN
25,OR,43671000,Odisha,OR,html,NaN,https://statedashboard.odisha.gov.in/,NaN,NaN
26,PB,29859000,Punjab,PB,pdf,NaN,https://nhm.punjab.gov.in/media-bulletin_Oct21...,NaN,NaN
27,PY,1504000,Puducherry,PY,html,yes,https://www.mygov.in/covid-19,NaN,NaN
28,RJ,77264000,Rajasthan,RJ,Image(Twitter),NaN,https://twitter.com/dineshkumawat,dineshkumawat,#Rajasthan Bulletin
29,SK,664000,Sikkim,SK,html,yes,NaN,NaN,NaN
30,TG,37220000,Telangana,TG,html,yes,https://twitter.com/IPRTelangana/status/145262...,NaN,NaN
31,TN,75695000,Tamil Nadu,TN,pdf,NaN,https://stopcorona.tn.gov.in/daily-bulletin/,NaN,NaN
32,TR,3992000,Tripura,TR,html,NaN,https://covid19.tripura.gov.in/Visitor/ViewSta...,NaN,NaN
33,TT,1332900000,India,TT,html,NaN,https://www.mygov.in/covid-19,NaN,NaN
34,UP,224979000,Uttar Pradesh,UP,html,yes,https://www.mygov.in/covid-19,NaN,NaN
35,UT,11141000,Uttarakhand,UT,pdf,NaN,https://health.uk.gov.in/pages/display/140-nov...,NaN,NaN
36,WB,96906000,West Bengal,WB,pdf,NaN,https://www.wbhealth.gov.in/pages/corona/bulletin,NaN,NaN

In [521]:
population[["StateName","StatePop"]]

                                   StateName    StatePop
0                Andaman and Nicobar Islands      397000
1                             Andhra Pradesh    52221000
2                          Arunachal Pradesh     1504000
3                                      Assam    34293000
4                                      Bihar   119520000
5                                 Chandigarh     1179000
6                               Chhattisgarh    28724000
7                                      Delhi    19814000
8   Dadra and Nagar Haveli and Daman and Diu      959000
9                                        Goa     1540000
10                                   Gujarat    67936000
11                          Himachal Pradesh     7300000
12                                   Haryana    28672000
13                                 Jharkhand    37403000
14                         Jammu and Kashmir    13203000
15                                 Karnataka    65798000
16                                    Kerala    35125000
17                                    Ladakh      293000
18                               Lakshadweep       68000
19                               Maharashtra   122153000
20                                 Meghalaya     3224000
21                                   Manipur     3103000
22                            Madhya Pradesh    82232000
23                                   Mizoram     1192000
24                                  Nagaland     2150000
25                                    Odisha    43671000
26                                    Punjab    29859000
27                                Puducherry     1504000
28                                 Rajasthan    77264000
29                                    Sikkim      664000
30                                 Telangana    37220000
31                                Tamil Nadu    75695000
32                                   Tripura     3992000
33                                     India  1332900000
34                             Uttar Pradesh   224979000
35                               Uttarakhand    11141000
36                               West Bengal    96906000

In [522]:
TT_df["statePopulation"] = population[population["StateName"] == "India"]["StatePop"].item()

In [523]:
TT_df

,District,cumulativeConfirmedNumberForDistrict,cumulativeRecoveredNumberForDistrict,cumulativeDeceasedNumberForDistrict,Date,State/UTCode,cumulativeConfirmedNumberForState,cumulativeDeceasedNumberForState,cumulativeRecoveredNumberForState,last_updated,...,7DmaVaccinatedForState,7DmaConfirmedForDistrict,7DmaRecoveredForDistrict,7DmaDeceasedForDistrict,7DmaVaccinatedForDistrict,7DmaVaccinated1ForDistrict,7DmaVaccinated2ForDistrict,7DmaTestedForState,delta21_14confirmedForState,statePopulation
0,Andaman and Nicobar Islands,7654,7518,129,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
1,Andhra Pradesh,2066670,2048151,14377,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
2,Arunachal Pradesh,55161,54796,280,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
3,Assam,610941,601309,6004,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
4,Bihar,726102,716397,9661,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
5,Chandigarh,65354,64500,820,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
6,Chhattisgarh,1006074,992196,13578,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
7,Dadra and Nagar Haveli and Daman and Diu,10682,10675,4,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
8,Delhi,1439888,1414480,25091,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
9,Goa,178121,174447,3364,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
10,Gujarat,826597,816311,10090,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
11,Haryana,771262,761075,10049,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
12,Himachal Pradesh,224251,218628,3758,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
13,Jammu and Kashmir,332347,327012,4436,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
14,Jharkhand,348771,343536,5138,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
15,Karnataka,2988521,2941896,38084,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
16,Kerala,4973954,4864506,32049,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
17,Ladakh,20971,20687,208,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
18,Lakshadweep,10365,10314,51,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
19,Maharashtra,6611887,6452486,140226,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
20,Manipur,123787,121152,1923,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
21,Meghalaya,83685,81807,1452,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
22,Mizoram,122354,115435,435,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
23,Madhya Pradesh,792862,782222,10524,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
24,Nagaland,31859,30958,685,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
25,Odisha,1041773,1029585,8336,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
26,Puducherry,128056,125779,1858,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
27,Punjab,602420,585613,16560,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
28,Rajasthan,954436,945445,8954,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
29,Sikkim,31984,31409,396,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
30,Tamil Nadu,2703613,2656168,36136,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
31,Telangana,671623,663691,3958,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
32,Tripura,84514,83553,816,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
33,Uttar Pradesh,1710161,1687155,22900,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
34,Uttarakhand,343904,336351,7401,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,0,0,0,None,None,1332900000
35,West Bengal,1593633,1566338,19149,2021-11-02,TT,34296237,458880,33683581,2021-11-02 21:03:19.373814,...,7334349594,1.363580e+06,1.340287e+06,16388.0,75793337,54840391,20952945,None,None,1332900000

In [524]:
TT_df = TT_df.merge(population[["StateName","StatePop"]],how="left",left_on = "District", right_on = "StateName")

In [525]:
TT_df = TT_df.rename(columns={"StatePop":"districtPopulation"})

In [526]:
from datetime import datetime, timedelta
today = (datetime.now() - timedelta(days=0)).date()

In [527]:
today

datetime.date(2021, 11, 2)

In [528]:
TT_df["Date"] = str(today)

In [529]:
TT_df.to_csv('TT_final_02.csv')

In [274]:
# 7dma delta

In [297]:
states_df[states_df["State"] == "India"]

             Date  State  Confirmed  Recovered  Deceased  Other       Tested
1      2020-01-30  India          1          0         0      0          NaN
3      2020-02-02  India          2          0         0      0          NaN
5      2020-02-03  India          3          0         0      0          NaN
7      2020-02-14  India          3          3         0      0          NaN
11     2020-03-02  India          5          3         0      0          NaN
...           ...    ...        ...        ...       ...    ...          ...
21523  2021-10-27  India   34231243   33606777    456418  13182  604498405.0
21560  2021-10-28  India   34245550   33619966    457223  13187  605885769.0
21597  2021-10-29  India   34259765   33633515    457774  13195  607062619.0
21634  2021-10-30  India   34272705   33648187    458219  13196  608319915.0
21671  2021-10-31  India   34285612   33661339    458470  13197  609201294.0

[613 rows x 7 columns]

In [298]:
lst = ["Confirmed","Recovered","Deceased"]
for val in lst:
    value = []
    for i in range(7):
        if i == 0:
            value.append(TT_df["cumulative{}NumberForState".format(val)][0])
        else:
            prev_date=datetime.strptime("2021-11-01","%Y-%m-%d")+timedelta(days=(-1*i))
            value.append(states_df[(states_df["State"] == "India") & (states_df["Date"] == str(prev_date.date()))]['{}'.format(val)].item())

In [299]:
value

[458437, 458470, 458219, 457774, 457223, 456418, 455684]