In [5]:
import pandas as pd  
from datetime import datetime,timedelta
from tqdm import tqdm

In [9]:
def correctVaccTT(date,state):
    pdate = str((datetime.strptime(date, '%Y-%m-%d')-timedelta(1)).date())
    df = pd.read_csv("../RAWCSV/"+date+"/"+state+"_final.csv")
    prev_df = pd.read_csv("../RAWCSV/"+pdate+"/"+state+"_final.csv")
    if df["District"].equals(prev_df["District"]):
        df["deltaVaccinated1ForDistrict"] = df["cumulativeVaccinated1NumberForDistrict"]-prev_df["cumulativeVaccinated1NumberForDistrict"]
        df["deltaVaccinated2ForDistrict"] = df["cumulativeVaccinated2NumberForDistrict"]-prev_df["cumulativeVaccinated2NumberForDistrict"]
        # df["deltaVaccinated1ForState"] = df["cumulativeVaccinated1NumberForState"]-prev_df["cumulativeVaccinated1NumberForState"]
        # df["deltaVaccinated2ForState"] = df["cumulativeVaccinated2NumberForState"]-prev_df["cumulativeVaccinated2NumberForState"]
        # print(date)
        # print(state)
    df.to_csv("../RAWCSV/"+date+"/"+state+"_final.csv")

In [10]:
states = ["AR","GJ","KA","LD","MZ","RJ","TN","WB"]

In [11]:
# date = "2021-10-31"
# correctVaccTT(date,"AR")

In [12]:
# import datetime
 
def date_range(start, end):
    r = (end+timedelta(days=1)-start).days
    return [start+timedelta(days=i) for i in range(r)]
 

start_date = "2021-10-31"
end_date = "2021-12-04"
end = datetime.strptime(end_date, '%Y-%m-%d')
start = datetime.strptime(start_date, '%Y-%m-%d')
dateList = date_range(start, end)

In [13]:
dateList

[datetime.datetime(2021, 10, 31, 0, 0),
 datetime.datetime(2021, 11, 1, 0, 0),
 datetime.datetime(2021, 11, 2, 0, 0),
 datetime.datetime(2021, 11, 3, 0, 0),
 datetime.datetime(2021, 11, 4, 0, 0),
 datetime.datetime(2021, 11, 5, 0, 0),
 datetime.datetime(2021, 11, 6, 0, 0),
 datetime.datetime(2021, 11, 7, 0, 0),
 datetime.datetime(2021, 11, 8, 0, 0),
 datetime.datetime(2021, 11, 9, 0, 0),
 datetime.datetime(2021, 11, 10, 0, 0),
 datetime.datetime(2021, 11, 11, 0, 0),
 datetime.datetime(2021, 11, 12, 0, 0),
 datetime.datetime(2021, 11, 13, 0, 0),
 datetime.datetime(2021, 11, 14, 0, 0),
 datetime.datetime(2021, 11, 15, 0, 0),
 datetime.datetime(2021, 11, 16, 0, 0),
 datetime.datetime(2021, 11, 17, 0, 0),
 datetime.datetime(2021, 11, 18, 0, 0),
 datetime.datetime(2021, 11, 19, 0, 0),
 datetime.datetime(2021, 11, 20, 0, 0),
 datetime.datetime(2021, 11, 21, 0, 0),
 datetime.datetime(2021, 11, 22, 0, 0),
 datetime.datetime(2021, 11, 23, 0, 0),
 datetime.datetime(2021, 11, 24, 0, 0),
 datetime.datetime(2021, 11, 25, 0, 0),
 datetime.datetime(2021, 11, 26, 0, 0),
 datetime.datetime(2021, 11, 27, 0, 0),
 datetime.datetime(2021, 11, 28, 0, 0),
 datetime.datetime(2021, 11, 29, 0, 0),
 datetime.datetime(2021, 11, 30, 0, 0),
 datetime.datetime(2021, 12, 1, 0, 0),
 datetime.datetime(2021, 12, 2, 0, 0),
 datetime.datetime(2021, 12, 3, 0, 0),
 datetime.datetime(2021, 12, 4, 0, 0)]

In [14]:
for state in states:
    for date in tqdm(dateList):
        correctVaccTT(str(date.date()),state)

100%|██████████| 35/35 [00:00<00:00, 85.48it/s]
100%|██████████| 35/35 [00:00<00:00, 89.21it/s]
100%|██████████| 35/35 [00:00<00:00, 78.59it/s]
100%|██████████| 35/35 [00:00<00:00, 94.41it/s]
100%|██████████| 35/35 [00:00<00:00, 98.44it/s]
100%|██████████| 35/35 [00:00<00:00, 84.78it/s]
100%|██████████| 35/35 [00:00<00:00, 87.70it/s]
100%|██████████| 35/35 [00:00<00:00, 95.47it/s]

In [15]:
!date

Sun Dec  5 22:04:51 IST 2021

# Delhi Testing data Update

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("DL_Tested.csv")

In [16]:
for idx in tqdm(df.index):
    date = datetime.strptime(df["Date"][idx], '%Y-%m-%d')
    state_df = pd.read_csv("../RAWCSV/"+df["Date"][idx]+"/myGov/DL_raw.csv")
    state_df["cumulativeTestedNumberForState"] = df["Cumulative_Tested"][idx]
    state_df.to_csv("../RAWCSV/"+df["Date"][idx]+"/myGov/DL_raw.csv")

100%|██████████| 60/60 [00:00<00:00, 240.45it/s]

In [15]:
state_df.head()

,Unnamed: 0,Date,State/UTCode,District,tested_last_updated_district,tested_source_district,notesForDistrict,cumulativeConfirmedNumberForDistrict,cumulativeDeceasedNumberForDistrict,cumulativeRecoveredNumberForDistrict,cumulativeTestedNumberForDistrict,last_updated,tested_last_updated_state,tested_source_state,notesForState,cumulativeConfirmedNumberForState,cumulativeDeceasedNumberForState,cumulativeRecoveredNumberForState,cumulativeTestedNumberForState
0,0,2021-12-29,DL,Central Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-30 12:43:11.607822,NaN,NaN,NaN,1445102,25107,1417804,32575392
1,1,2021-12-29,DL,East Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-30 12:43:11.607822,NaN,NaN,NaN,1445102,25107,1417804,32575392
2,2,2021-12-29,DL,New Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-30 12:43:11.607822,NaN,NaN,NaN,1445102,25107,1417804,32575392
3,3,2021-12-29,DL,North Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-30 12:43:11.607822,NaN,NaN,NaN,1445102,25107,1417804,32575392
4,4,2021-12-29,DL,North East Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-30 12:43:11.607822,NaN,NaN,NaN,1445102,25107,1417804,32575392

In [12]:
df.columns

Index(['Date', 'Cumulative_Tested'], dtype='object')